/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* layout */
:root {
  --JPD-logo-red: #E50B0B;
  --gray-text: #525252;
  --main-dominant-red: #FF5555;
  --background-red: #FFF2F2;
  --text-placeholder-gray: #868686;
  --dark-gray-text: #222222;
  --finances-positive: #68A767;
  --finances-negative: #CB7373;
  --profit-background: #EFFFEF;
  --sales-background: #FFFAE8;
  --profit-dark: #025100;
  --icon-in-the-background: #FF6D6D;
  --background-light-red: #FFF2F2;
  --faded-text-button: #F1A8A8;
  --white: #FFFFFF;
  --black: #000000;
  --card1-red: #FFD4D4;
  --card2-red: #FF9898;
  --navbar-cart: #DFFFDE;
  --hover-background: #cbcbcb;
  --stocks-good: #60db58;
  --stocks-danger:#f0d735;
  --stocks-out: #eb5954;
  --search-gray: #D9D9D9;
}

body {
  background-color: var(--background-red)!important;
  margin: 0;
  font-family: "Inter";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main{
  width: 65%!important;
}

.txt-white{
  color: var(--white)!important;
}
.txt-gray-text{
  color: var(--gray-text)!important;
}
.txt-black{
  color: var(--black)!important;
}
.txt-profit-dark{
  color: var(--profit-dark)!important;
}
.txt-main-dominant-red {
  color: var(--main-dominant-red)!important;
}
.txt-JPD-logo-red {
  color: var(--JPD-logo-red)!important;
}
.txt-faded-text-button {
  color: var(--faded-text-button);
}

.accordion-button {
  background-color: var(--main-dominant-red)!important;
  font-size: 1.5rem!important;
  color: var(--white)!important;
  font-weight: 600!important;
}

.bg-main-dominant-red {
  background-color: var(--main-dominant-red)!important;
}
.bg-card1-red{
  background-color: var(--card1-red)!important;
}
.bg-card2-red{
  background-color: var(--card2-red)!important;
}
.bg-card3-red{
  background-color: var(--card3-red)!important;
}
.bg-white{
  background-color: var(--white)!important;
}
.bg-background-red{
  background-color: var(--background-red)!important;
}
.bg-stocks-good{
  background-color: var(--stocks-good);
}
.bg-stocks-danger{
  background-color: var(--stocks-danger);
}
.bg-stocks-out{
  background-color: var(--stocks-out);
}
.bg-search-gray{
  background-color: var(--search-gray)!important;
}
 

.bg-white{
  background-color: var(--white)!important;
}
.bg-background-red{
  background-color: var(--background-red)!important;
}
.bg-stocks-good{
  background-color: var(--stocks-good);
}
.bg-stocks-danger{
  background-color: var(--stocks-danger);
}
.bg-stocks-out{
  background-color: var(--stocks-out);
}
.bg-search-gray{
  background-color: var(--search-gray)!important;
}
.bg-finances-positive{
  background-color: var(--finances-positive)!important;
}

.txt-14{
  font-size: 14px!important; /* fs-6 */
}
.txt-16{
  font-size: 16px!important; /* fs-5 */
}
.txt-20{
  font-size: 20px!important; /* fs-4 */
}
.txt-32{
  font-size: 32px!important; /* fs-3 */
}
.txt-36 {
  font-size: 36px!important; /* fs-2 */
}
.txt-64{
  font-size: 64px!important; /* fs-1 */
}

.nomargin {
  margin: 0;
}
.nopadding {
  padding: 0 !important;
  margin-left: 0 !important;
}

.overlay-revenue{
  background: url(../public/icon_briefcase_.png);
  background-repeat: no-repeat;
  background-position: 2rem;
  background-size: 10rem;
}

.overlay-reminder{
  background: url(../public/icon_calendar_.png);
  background-repeat: no-repeat;
  background-position: 2rem;
  background-size: 8rem;
}

.overlay-items-in-cart{
  background: url(../public/icon_cart_.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 80%;
  background-size: 6rem;
}

.overlay-payments-due{
  background: url(../public/icon_bell_.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 80%;
  background-size: 6rem;
}

.overlay-low-stock{
  background: url(../public/icon_barchart_.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-position-y: 80%;
  background-size: 6rem;
}

.overlay-audit-log{
  background: url(../public/icon_key_.png);
  background-repeat: no-repeat;
  background-position: 2rem;
  background-size: 8rem;
}

.overlay-user-list{
  background: url(../public/icon_person_.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 8rem;
}

.hover:hover{
  text-decoration: underline;
  cursor: pointer;
}

.button-page{
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1rem;
}
.point-cursor{
  cursor: pointer;
}

.button-page{
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 1rem;
}

.first{
  background-image: url(../public/icon_first.png);
}

.last{
  background-image: url(../public/icon_last.png);
}

.right{
  background-size: 0.75rem;
  background-image: url(../public/icon_right.png);
}

.left{
  background-image: url(../public/icon_left.png);
  background-size: 0.75rem;
}

.login{
  height: 90vh;
}

.modalCenter{
  transform:translateY(10%)!important;
}

.scroll-space{
  scrollbar-gutter: stable;
}

.items-in-cart{
  overflow-y: auto;
  overflow-x: hidden;
  height: 40vh;
  box-sizing: border-box;
  width: 100%;
}

.cart-inventory{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
}

.link-no-underline{
  text-decoration: none!important;
}

/* remove default password visibility eye */
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

.height-content{
  height: fit-content!important;
}